<%= render 'shared/title', h1_msg: 'Welcome to Massage Scheduler',
  h3_msg: user_signed_in? ? 'Select an available appointment' :
                             'Sign in or create an account to get started' %>

<div id="reservations">
  <h1 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @appointments_by_date[date] %>
      <ul>
        <% @appointments_by_date[date].each do |appointment| %>
          <% if appointment.reserved? == false %>
            <li class="appointments"><%= link_to "#{appointment.start_time.strftime("%l:%M")} -#{appointment.end_time.strftime("%l:%M%p")}", appointment %></li>
          <% else %>
            <li class="reserved"><%= link_to "#{appointment.start_time.strftime("%l:%M")} -#{appointment.end_time.strftime("%l:%M%p")}", appointment %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
