.row
  .small-10.columns
    .signup-panel
      %p.welcome Reserve Appointment
      / error messages
      - if @appointment.errors.any?
        #error_explanation
          %h2
            = pluralize(@appointment.errors.count, "error")
            prohibited this appointment from being saved:
          %ul
            - @appointment.errors.full_messages.each do |message|
              %li= message
      / form
      %p
        - if @appointment.reserved? == false
          = form_for(@appointment) do |f|
            .row.collapse
              .small-2.columns
                %span.prefix
                  %i.fi-clock
              .small-10.columns
                = f.text_field :reservation_time, placeholder: "Select Start Time"
              / appointment info
              %h5
                Date: #{@appointment.date}
              %h5
                Time: #{@appointment.start_time.strftime("%l:%M")} - #{@appointment.end_time.strftime("%l:%M%p")}
              %h5
                Therapist: #{@appointment.therapist.full_name}
              - if @user.therapist?
                %h5
                  Reserved? #{@appointment.reserved ? 'Yes' : 'No'}
              - if @user.therapist? && @appointment.client_id != nil
                %h5
                  Client:#{@appointment.client.full_name}
              / submit buttons
              = f.hidden_field :reserved, value: true
              = f.hidden_field :client_id, value: current_user.id
              = f.submit 'Reserve Appointment', class: 'button'
        - else
          %h5
            Date: #{@appointment.date}
          %h5
            Time: #{@appointment.start_time.strftime("%l:%M")} - #{@appointment.end_time.strftime("%l:%M%p")}
          %h5
            Therapist: #{@appointment.therapist.full_name}
          - if @user.therapist?
            %h5
              Reserved? #{@appointment.reserved ? 'Yes' : 'No'}
          - if @user.therapist? && @appointment.client_id != nil
            %h5
              Client: #{@appointment.client.full_name}
          = button_to 'Cancel Appointment', appointment_path(@appointment,                         |
            appointment: {reserved: false, client_id: nil, cancelled_id: @appointment.client_id}), |
            method: :patch, data: {confirm: 'Are you sure?'}, class: 'button alert'           |
      / Links
      - if policy(@appointment).destroy?
        = link_to 'Delete Appointment', therapist_appointment_path(@appointment), method: :delete, data: {confirm: 'Are you sure?'}
        |
      - if policy(@appointment).update?
        = link_to 'Edit', edit_therapist_appointment_path(@appointment)
        |
      = link_to 'Back', root_path
