<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-10 columns">
    <div class="signup-panel">
      <p class="welcome">Reserve Appointment</p>
      <p>
        <% if @appointment.reserved? == false %>
          <%= form_for(@appointment) do |f| %>
            <div class="row collapse">
              <div class="small-2 columns ">
                <span class="prefix"><i class="fi-clock"></i></span>
              </div>
            <div class="small-10 columns">
              <%= f.text_field :reservation_time, placeholder: "Select Start Time" %>
            </div>
            <!-- appointment info -->
            <h5>Date: <%= @appointment.date %></h5>
            <h5>Time: <%= @appointment.start_time.strftime("%l:%M") %> - <%= @appointment.end_time.strftime("%l:%M%p") %></h5>
            <h5>Therapist: <%= @appointment.therapist.full_name %></h5>
            <% if @user.therapist? %>
              <h5>Reserved? <%= @appointment.reserved ? 'Yes' : 'No' %></h5>
            <% end %>
            <% if @user.therapist? && @appointment.client_id != nil %>
             <h5>Client:<%= @appointment.client.full_name %></h5>
            <% end %>
            <!-- submit buttons -->
            <%= f.hidden_field :reserved, value: true %>
            <%= f.hidden_field :client_id, value: current_user.id %>
            <%= f.submit 'Reserve Appointment', class: 'button' %>
          <% end %>
        <% else %>
          <%= button_to 'Cancel Appointment', appointment_path(@appointment,
            appointment: {reserved: false, client_id: nil, cancelled_id: @appointment.client_id}),
            method: :patch, data: {confirm: 'Are you sure?'}, class: 'button tiny alert' %>
        <% end %>
      </p>

      <!-- Links -->
      <% if policy(@appointment).destroy? %>
        <%= link_to 'Delete Appointment', appointment_path(@appointment), method: :delete %>
        |
      <% end %>

      <% if policy(@appointment).update? %>
        <%= link_to 'Edit', edit_appointment_path(@appointment) %>
        |
      <% end %>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
